/*GLobal Area
-----------------*/
@font-face {
    font-family: "Futura";
    src: url("fonts/Futura Bold font.ttf");
        url("fonts/Futura Bold italic font.ttf");
        url("fonts/Futura Book font.ttf");
        url("fonts/Futura Book italic font.ttf");
        url("fonts/Futura Extra italic font.ttf");
        url("fonts/Futura Heavy font.ttf");
        url("fonts/Futura Heavy font.ttf");
        url("fonts/Futura Heavy italic font.ttf");
        url("fonts/Futura light bt.ttf");
        url("fonts/Futura Light font.ttf");
        url("fonts/Futura Light italic font.ttf");
        url("fonts/futura medium bt.ttf");
        url("fonts/futura medium condensed bt.ttf");
        url("fonts/futura Medium italic font.ttf");
        url("fonts/futura XBlk BT.ttf");
        url("fonts/futura-CondensedLight.otf");
        url("fonts/tt0205m_.ttf");
        url("fonts/unicode.futurab.ttf");
        url("fonts/unicode.futurabb.ttf");


;
}

html {
    font-family: Futura, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    color: #8c8181;
    font-weight: bold;
    font-size: 1.5rem;
}

header {
    /*position: absolute;*/

    height: 4vh;
    width: 100%; /* Full width */
    font-weight: bold;

    color: white;
    overflow: hidden;
    background-color: #d3c9c9;
    /*position: fixed; !* Set the navbar to fixed position *!*/
    top: 0; /* Position the navbar at the top of the page */
    /*padding-bottom:25px;*/
    display: flex;

    justify-content: center;
    align-items: center;
    /*height: 50px;*/
}

main {
    height: 85vh;
}

footer {
    position: fixed;
    font-family: Futura, Helvetica, sans-serif;
    color: #eae5e5;
    overflow: hidden;
    /*background-color: 	#fdefee;*/
    /*position: fixed; !* Set the navbar to fixed position *!*/
    bottom: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    height: 10vh;
    display: flex;
    padding: 5%;
    justify-content: center;
    align-items: center;
    /*border: 1px solid black;*/
    /*font-size: 3em;*/

}

button {
    background-color: transparent;
    outline: none;
    border: none;
    font-family: Futura, Helvetica, sans-serif;


}

h1 {
    /*margin-top: auto;*/
    margin: auto;
    height: 6vh;
    font-size: 3rem;
    vertical-align: center;
    /*text-align: center;*/
    /*border: 1px solid black;*/
}

table, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    /*vertical-align: bottom;*/
}

table {
    width: 90%;
    height: 36vh;
}

/*Bowl
----------------*/

.Bowl {
    text-align: center;
    display: flex;
    height: 40vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
    justify-content: center;
    align-items: center;
}

#BowlCanvas {
    /*padding-top: 3%;*/

    border: 25px solid #d3c9c9;
    border-radius: 50%;
    background-color: #fee9cc;
}

/*colors
----------------*/

.omami {
    color: #a28275;
}

.sour {
    color: #b6e079;
}

.spicy {
    color: #f97253;
}

.herbs {
    color: #a9c0a9;
}

/*Navigation
----------------*/

.Navigation {
    overflow: hidden;
    background-color: inherit;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #ffffff;
}

/* Style the buttons that are used to open the tab content */
.tablinks {
    /*background-color: inherit;*/
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: #eae5e5;
    font-size: 1.7em;
    font-weight: bold;
}

.passPage {
    background-color: #d3c9c9;
    border-radius: 40%;
    color: #8c8181;
    /*padding: 0 5%;*/
}

.disableBut {
    background-color: #eae5e5;
    color: #fff;

}

#goBack {
    display: block;
    float: none;
    background-color: #eae5e5;
    color: #fff;
    font-size: 1.8rem;
    border-radius: 2vh;
    margin: auto;
}

/* Create an active/current tablink class */
.Navigation button.active {
    color: #8c8181;
    font-weight: bold;
    /*background-color: #cc4f76;*/
}

/*Pages:
------------*/

/* Style the tab content */
.tabcontent {
    height: 36vh;
    display: none;
    padding-bottom: 30%;
    justify-content: center;
    align-items: center;

    border-top: none;
}

/**********page 1*******/

/*slider*/
.structure_slider {
    width: 80%;
    height: 9vh;
    margin: auto;
    /*border: 1px solid black;*/

}

#structure_slider {
    display: inline-block;
    width: 60%;
    height: 3vh;
    /*margin: 0;*/

    -webkit-appearance: none; /* Override default CSS styles */
    /*appearance: none;*/
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border-radius: 1vh;
    margin: 2%;
    background-image: -webkit-gradient(linear,
    left top,
    right top,
    color-stop(0.5, #fee9cc),
    color-stop(0.5, #e8c880));

}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
#structure_slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 3vh; /* Set a specific slider handle width */
    height: 5vh; /* Slider handle height */
    background: #d3c9c9; /* Green background */
    cursor: pointer; /* Cursor on hover */
    outline: none;
    border: #d3c9c9;

}

.structure_label {
    display: inline-block;
    margin: 1%;
    text-align: center;
    width: 5%;
    /*margin: 0;*/

}

.structure_button {
    display: block;
    height: 10vh;
    /*border: 1px solid black;*/

}

.NoodleOutline {

    text-align: center; /* Center-align text */
    padding: 3%; /* Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    font-size: 1.5rem; /* Increased font size */
    font-weight: bold;
    border-radius: 10%;
    overflow: hidden;
    text-overflow: clip;
    color: #8c8181;
    background-color: #eae5e5;
    margin: 2%;
    /*border: 1px solid black;*/

}

.NoodleOutline:hover {
    background-color: #8c8181;
    color: white;
    padding: 2%;
    margin: 0;;
}

.outlineWrapper {
    display: inline-block;
    width: 50%;
    /*margin: auto;*/

}


#generate {
    /*float: left;*/
    display: block;
    /*margin-top: 5vh;*/
    color: #8c8181;
    background-color: #ffd095;
    font-size: 1.8em; /* Increased font size */
    font-weight: bold;
    /*padding: 3%;*/
    /*margin: 3% 0% 3% 0%;*/
    border-radius: 15%;

}

#generate:hover {
    padding: 3.5%;
    background-color: #fee9cc;


}

/**********page 2*******/

.flavours_slideres_container {
    position: inherit;
    width: 100%; /* Width of the outside container */
    height: 100%;
    padding: 0;
    margin: 0;

}

.flavor {
    width: 80%;
    height: 6vh;
    margin: auto;
    /*border: 1px solid black;*/
}

.flavour_slider {
    display: inline-block;
    width: 60%;
    height: 3vh;
    /*margin: 0;*/
    -webkit-appearance: none; /* Override default CSS styles */
    /*appearance: none;*/
    /*background: #e8c880;*/
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border-radius: 1vh;
    /*margin-top: vh;*/
    border: 6px solid #eae5e5;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.flavour_slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 3vh; /* Set a specific slider handle width */
    height: 5vh; /* Slider handle height */
    background: #d3c9c9; /* Green background */
    cursor: pointer; /* Cursor on hover */
    outline: none;
    border: #d3c9c9;

}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    border-radius: 10px;
}

.flavor_slider_label {
    display: inline-block;
    /*width: 5%;*/
    padding: 2%;
    font-size: 2.2rem;
    margin: auto;
    /*text-align: center;*/

    /*border: 1px solid black;*/
}

/*************page 3 **************/

.wrapperBars {
    display: block;
    height: 21vh;

    width: 100%;
    /*border: 1px solid black;*/
}

.ContainterBar {
    /*float: left;*/
    display: inline-table;
    width: 15%;
    height: 100%;
    padding-bottom: 10%;
    /*margin: 5%;*/
    /*border: 1px solid black;*/

}

.bar {
    /*margin: auto;*/
    width: 40%;
    height: 100%;
    border-radius: 10%;
}

.progBar {
    width: 100%;
    height: 0%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    line-height: 30px;

}

.omamiColor {
    color: #a28275;
}

#progBarOmami {
    background-color: #a28275;
}

.omamiFrame {
    border: 2px solid #a28275;

}

.sourColor {
    color: #b6e079;
}

#progBarSour {
    background-color: #b6e079;
}

.sourFrame {
    border: 3px solid;
    border-color: #b6e079;
}

.spicyColor {
    color: #f97253;
}

#progBarSpicy {
    background-color: #f97253;
}

.spicyFrame {
    border: 3px solid;
    border-color: #f97253;
}

.herbsFrame {
    border: 3px solid;
    border-color: #a9c0a9;
}

.herbsColor {
    color: #a9c0a9;
}

#progBarHerbs {
    background-color: #a9c0a9;
}

/*p {*/
/*text-align: center;*/
/*}*/

#erase {
    position: absolute;
    right: 10%;
    /*background-color: #eae5e5;*/
    padding: 2%;
    /*outline:none;*/
    /*color: #8c8181;*/
    /*border-radius: 30%;*/
}

#erase.toErase {
    /*background-color: #8c8181;*/
    /*color: white;*/
    /*right: 19%;*/
    padding: 1%;

}

.brush {
    padding: 2%;
    border-radius: 15vh;
    font-size:1.6rem;
}

.toBrush {
    background-color: #eae5e5;
}

/********* page 4 ***********/

.wrapperHigh {
    /*border: 1px solid black;*/
    /*only for 1 page decorate    */
    /*height: 7vh;*/
    width: 100%;
    margin-top:  5vh;
}

.operation {
    display: inline-block;
    border-radius: 30%;
    /*border: 1px solid blue;*/
}

.minusHigh {
    display: inline-block;
    padding: 0.5%;
    color: #8c8181;
    font-weight: bold;
    background: #eae5e5;
    /*border-radius: 30%;*/
    border-top-left-radius: 30%;
    border-bottom-left-radius: 30%;
    margin: 0.5%;
    font-size: 1.5em;

}

* {
    box-sizing: border-box
}

.plusHigh {
    display: inline-block;
    padding: 0.5%;
    color: #8c8181;
    font-weight: bold;
    font-size: 1.5em;
    background: #eae5e5;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;

    margin: 3% 0.5%;

}

.anchors {
    display: inline-block;
    padding: 2% 4%;
    margin: 2%;

    /**********/
    /*width: 7%;*/
    /*padding: 2%;*/
    color: #8c8181;
    font-weight: bold;
    font-size: 2rem;
    background: #eae5e5;
    border-radius: 25%;
    text-align: center;

}

.anchors.toHigh {
    background-color: #8c8181;
    color: white;
}

.highPress {
    display: inline-block;
    border: 1vh solid #d3c9c9 ;
    background-color: white;
}

#numHigh {
    display: inline-block;
    padding: 1% 1.5%;
    font-weight: bold;
    background: #eae5e5;
    border-radius: 30%;

}

#containerMin {
    /*display: inline-block;*/
    /*margin: 3vh;*/
    width: 25%;
    height: 5vh;
    border: 2px solid #eae5e5;
    border-radius: 10px;

}

#containerMax {
    /*display: inline-block;*/
    /*margin: 3vh;*/
    width: 25%;
    height: 5vh;
    border: 2px solid #eae5e5;
    border-radius: 10px;

}

/*.theline {*/
/*text-align: right;*/
/*!*padding-right: 20px;*!*/
/*line-height: 40px;*/
/*color: #8c8181;*/
/*!*color: #000000;*!*/

/*}*/

.maxColor {
    background-color: #0000f7;
    color:white;
}

.minColor {
    background-color: #f90000;
    color:white;
}

.progBarUnit {
    display: inline-block;
    float: left;
    height: 5vh;

    /*width: 100%;*/
    /*background-color: #8c8181;*/
    border: 3px solid white;
    /*border-radius: 0;*/

}

.firstProgBarUnit {
    border-top-left-radius: 1.5vh;
    border-bottom-left-radius: 1.5vh;
}

.lastProgBarUnit {
    border-top-right-radius: 1.5vh;
    border-bottom-right-radius: 1.5vh;
}

/****************page 5 ******************/

#printSoup {
    background-color: #a28275;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 4.5rem;
    border-radius: 2.5vh;
    padding: 1.5% 4%;
    transition: 0.3s;
    color: white;
    margin: 7%;
}


