/*GLobal Area
-----------------*/

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    color: #8c8181;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}

header {
    /*position: absolute;*/

    height: 5vh;
    width: 100%; /* Full width */
    font-family: Helvetica, sans-serif;
    font-weight: bold;

    color: white;
    overflow: hidden;
    background-color: #d3c9c9;
    /*position: fixed; !* Set the navbar to fixed position *!*/
    top: 0; /* Position the navbar at the top of the page */
    /*padding-bottom:25px;*/
    display: flex;

    justify-content: center;
    align-items: center;
    /*height: 50px;*/
}

main {
    height: 85vh;
}

footer {
    position: fixed;
    font-family: Helvetica, sans-serif;
    color: #eae5e5;
    overflow: hidden;
    /*background-color: 	#fdefee;*/
    /*position: fixed; !* Set the navbar to fixed position *!*/
    bottom: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    height: 10vh;
    display: flex;
    padding: 5%;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    /*font-size: 3em;*/

}

button {
    background-color: transparent;
    outline:none;
    border: none;
}

h1 {
    /*margin-top: auto;*/
    margin: auto;
    height: 7vh;
    font-size: 3.25rem;
    vertical-align: center;
    /*text-align: center;*/
    border: 1px solid black;

}

/*Bowl
----------------*/

.Bowl {
    text-align: center;
    display: flex;
    height: 40vh;
    justify-content: center;
    align-items: center;
}

#BowlCanvas {
    /*padding-top: 3%;*/
    border: 25px solid #d3c9c9;
    border-radius: 50%;
    background-color: #fee9cc;
}

/*Pages:
------------*/

/* Style the tab content */
.tabcontent {
    height: 45vh;
    display: none;
    padding-bottom: 30%;
    justify-content: center;
    align-items: center;

    border-top: none;
}

/**********page 1*******/

/*slider*/
.structure_slider {
    width: 80%;
    height: 7vh;
    margin: auto;
    border: 1px solid black;

}

#structure_slider {
    display: inline-block;
    width: 60%;
    height: 3vh;
    margin: 0;

    -webkit-appearance: none; /* Override default CSS styles */
    /*appearance: none;*/
    background: #e8c880;
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border-radius: 1vh;

}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
#structure_slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 3vh; /* Set a specific slider handle width */
    height: 5vh; /* Slider handle height */
    background: #d3c9c9; /* Green background */
    cursor: pointer; /* Cursor on hover */
    outline: none;
    border: #d3c9c9;

}

.structure_label {
    display: inline-block;
    margin: 1%;
    text-align: center;
    width: 5%;
    /*margin: 0;*/

}

.structure_button {
    display: block;
    height: 21vh;
    border: 1px solid black;

}



.NoodleOutline {

    /*float: ; !* Float links side by side *!*/
    text-align: center; /* Center-align text */
    /*width: 10%; !* Equal width (5 icons with 20% width each = 100%) *!*/
    padding: 2%; /* Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    font-size: 1em; /* Increased font size */
    font-weight: bold;
    /*margin: 0;*/
    /*border: 1px solid black;*/
    border-radius: 10%;
    overflow: hidden;
    text-overflow: clip;
    color: #8c8181;
    background-color: #eae5e5;
    margin: 1%;

}

.NoodleOutline:hover {
    background-color: #8c8181;
    color: white;
    padding: 2%;
    margin: 0;;
}

.bbb {
    display: inline-block;
}

#generate {
    color: #8c8181;
    background-color: #ffd095;
    font-size: 2em; /* Increased font size */
    font-weight: bold;
    padding: 3%;
    margin: 3%;
    border-radius: 15%;

}

#generate:hover {
    padding: 4%;

}


.SliderLabel {
    width: 25px;
    text-align: center;
    /*padding-left:10px;*/
}

.SlidersContainer {
    position: inherit;
    width: 90%; /* Width of the outside container */
    /*display: flex;*/
    /*flex-direction: column;*/
    height: 100%;
    padding: 0;
    margin: 0;
    /*font-family: Helvetica;*/
    /*display: -webkit-box;*/
    /*display: -moz-box;*/
    /*display: -ms-flexbox;*/
    /*display: -webkit-flex;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*clear: both;*/
}

.slider {
    /*margin: auto;*/
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 15px;
    width: 100%;
    /*border-radius: 5px; !* iOS *!*/
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

/*
 * 1. Set to 0 width and remove border for a slider without a thumb
 */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px; /* 1 */
    height: 25px;
    background: rgba(109, 112, 112, 0.49);
    /*box-shadow: -100vw 0 0 100vw #c07dff;*/

    /*border: 2px solid #999; !* 1 *!*/
    /*border-radius: 0%;*/
    cursor: pointer;
}

.slider::-webkit-slider-runnable-track {
    background: #ddd;
}

/*Tools bar*/

/*Navigation Bar*/

/* Style the tab */
.Navigation {
    overflow: hidden;
    background-color: inherit;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #ffffff;
}

/* Style the buttons that are used to open the tab content */
.tablinks {
    /*background-color: inherit;*/
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: #eae5e5;
    font-size: 2.5em;
    font-weight: bold;
}

.passPage {
    background-color: #eae5e5;
    border-radius: 40%;
    color: #8c8181;
}

.printSoup {
    background-color: inherit;
    alignment: right;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: #ea8071;
}

/* Create an active/current tablink class */
.Navigation button.active {
    color: #8c8181;
    font-weight: bold;
    /*background-color: #cc4f76;*/
}

.Image {
    width: 2%;
    padding: 10px;
    padding-right: 30px;
    padding-left: 30px;

}

#newSpicySlider {
    -webkit-appearance: none;
    -moz-apperance: none;
    border-radius: 6px;
    height: 10px;
    background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(0, #FF3852),
            color-stop(0, #ddd)
    );
}

#newUmamiSlider {
    -webkit-appearance: none;
    -moz-apperance: none;
    border-radius: 6px;
    height: 10px;
    background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(0, #AC50D3),
            color-stop(0, #ddd)
    );
}

#newHerbsSlider {
    -webkit-appearance: none;
    -moz-apperance: none;
    border-radius: 6px;
    height: 10px;
    background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(0, #75E039),
            color-stop(0, #ddd)
    );
}

#newSourSlider {
    -webkit-appearance: none;
    -moz-apperance: none;
    border-radius: 6px;
    height: 10px;
    background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(0, #e4e62e),
            color-stop(0, #ddd)
    );
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background-color: #717171;
    border: 1px solid #717171;
    height: 15px;
    width: 15px;
    border-radius: 10px;
}

input[type='range'] {
    width: 100%;
}

input[type=range]::-moz-range-progress {
    -webkit-appearance: none;
    background-color: green;
    height: 1em;
}


.flavor {
    display: inline-block;
    width: 20%;
}

.value {
    text-align: center;
}

.wrapperBars {
    display: block;
    height: 100%;
    width: 100%;
    /*border: 1px solid black;*/
}

.ContainterBar {
    /*float: left;*/
    display: inline-table;
    width: 15%;
    height: 100%;
    padding-bottom: 10%;
    /*margin: 5%;*/
    /*border: 1px solid black;*/

}

.bar {
    /*margin: auto;*/
    width: 40%;
    height: 100%;
    border-radius: 10%;
}

.progBar {
    width: 100%;
    height: 0%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    line-height: 30px;

}

.omamiColor {
    color: #a28275;
}

#progBarOmami {
    background-color: #a28275;
}

.omamiFrame {
    border: 2px solid;
    border-color: #a28275;
}

.sourColor {
    color: #b6e079;
}

#progBarSour {
    background-color: #b6e079;
}

.sourFrame {
    border: 3px solid;
    border-color: #b6e079;
}

.spicyColor {
    color: #f97253;
}

#progBarSpicy {
    background-color: #f97253;
}

.spicyFrame {
    border: 3px solid;
    border-color: #f97253;
}

.herbsFrame {
    border: 3px solid;
    border-color: #a9c0a9;
}

.herbsColor {
    color: #a9c0a9;
}

#progBarHerbs {
    background-color: #a9c0a9;
}

/*p {*/
/*text-align: center;*/
/*}*/

.wrapperHigh {
    border: 1px solid black;
    /*only for 1 page decorate    */
    height: 10vh;
}

.operation {
    display: inline-block;
    border-radius: 30%;
    /*border: 1px solid blue;*/
}

.minusHigh {
    display: inline-block;
    padding: 2%;
    color: #8c8181;
    font-weight: bold;
    background: #eae5e5;
    /*border-radius: 30%;*/
    border-top-left-radius: 30%;
    border-bottom-left-radius: 30%;
    margin: 0.5%;

}

* {
    box-sizing: border-box
}

.plusHigh {
    display: inline-block;
    padding: 2%;
    color: #8c8181;
    font-weight: bold;
    background: #eae5e5;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;

    margin: 0.5%;

}

.anchors {
    display: inline-block;
    padding: 1%;
}

.numHigh {
    display: inline-block;
    padding: 1% 1.5%;
    font-weight: bold;
    background: #eae5e5;
    border-radius: 30%;

}

.containerHigh {
    display: inline-block;
    alignment: left;
    width: 25%;
    border: 2px solid #eae5e5;
    border-radius: 10px;

}

.theline {
    text-align: right;
    /*padding-right: 20px;*/
    line-height: 40px;
    color: #8c8181;

}

.progBarHigh {
    align-items: left;
    width: 90%;
    background-color: #8c8181;
    border: 4px solid white;
    border-radius: 10px;

}

#erase {
    background-color: #eae5e5;
    padding: 2%;
    /*outline:none;*/
    color: #8c8181;
    border-radius: 30%;
}
