

body{
    margin: 0;
}


.Edit{
    margin-top:1%;
    margin-bottom: 1%;
    height: 100%;
}

.SliderLabel{
    width:25px;
    text-align: center;
    /*padding-left:10px;*/
}

/*.SliderCell{*/
    /*width:100px;*/
/*}*/

.SlidersContainer {
    position: inherit;
    width: 90%; /* Width of the outside container */
    /*display: flex;*/
    /*flex-direction: column;*/
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    /*display: -webkit-box;*/
    /*display: -moz-box;*/
    /*display: -ms-flexbox;*/
    /*display: -webkit-flex;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*clear: both;*/
}

.slider{
    /*margin: auto;*/
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 15px;
    width: 100%;
    /*border-radius: 5px; !* iOS *!*/
    outline:none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

/*
 * 1. Set to 0 width and remove border for a slider without a thumb
 */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px; /* 1 */
    height: 25px;
    background: rgba(109, 112, 112, 0.49);
    /*box-shadow: -100vw 0 0 100vw #c07dff;*/

    /*border: 2px solid #999; !* 1 *!*/
    /*border-radius: 0%;*/
    cursor: pointer;
}

/*#newSpicySlider::-webkit-slider-thumb {*/
    /*box-shadow: -100vw 0 0 100vw rgba(255, 56, 82, 0.84);*/
/*}*/

/*#newUmamiSlider::-webkit-slider-thumb {*/
    /*box-shadow: -100vw 0 0 100vw rgba(172, 80, 211, 0.76);*/
/*}*/

/*#newHerbsSlider::-webkit-slider-thumb {*/
    /*box-shadow: -100vw 0 0 100vw rgba(117, 224, 57, 0.79);*/
/*}*/

/*#newSourSlider::-webkit-slider-thumb {*/
    /*box-shadow: -5vw 0 0 5vw blue;*/
    /*!*box-shadow: -100vw 0 0 100vw rgba(228, 230, 46, 0.79);*!*/

/*}*/


.slider::-webkit-slider-runnable-track {
    background: #ddd;
}



/*::-moz-range-track {*/
    /*height: 40px;*/
    /*background: #ddd;*/
/*}*/

/*.slider::-moz-range-thumb {*/
    /*background: #fff;*/
    /*height: 40px;*/
    /*width: 20px;*/
    /*border: 3px solid #999;*/
    /*border-radius: 0 !important;*/
    /*box-shadow: -100vw 0 0 100vw dodgerblue;*/
    /*box-sizing: border-box;*/
    /**/
/*}*/

/*::-ms-fill-lower {*/
    /*background: dodgerblue;*/
/*}*/

/*::-ms-thumb {*/
    /*background: #fff;*/
    /*border: 2px solid #999;*/
    /*height: 40px;*/
    /*width: 20px;*/
    /*!*box-sizing: border-box;*!*/
/*}*/

/*::-ms-ticks-after {*/
    /*display: none;*/
/*}*/

/*::-ms-ticks-before {*/
    /*display: none;*/
/*}*/

/*::-ms-track {*/
    /*background: #ddd;*/
    /*color: transparent;*/
    /*height: 40px;*/
    /*border: none;*/
/*}*/

/*::-ms-tooltip {*/
    /*display: none;*/
/*}*/


/*Top bar design*/

.TopBar {
    font-family: Helvetica,sans-serif;
    color: #ea8071;
    overflow: hidden;
    background-color: #fdefee;
    /*position: fixed; !* Set the navbar to fixed position *!*/
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    /*padding-bottom:25px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;

}

/*.TopBarTitle{*/
    /*margin-top:1%;*/
/*}*/


/*Tools bar*/
.Tools{
    margin:0;
    position: inherit;
}



.icon-bar {
    position: fixed;
    bottom:50px;
    width: 100%; /* Full-width */
    /*background-color: #555; !* Dark-grey background *!*/
    overflow: auto; /* Overflow due to float */
    margin:0;
    /*align:center;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-bar button {

}

.icon-bar a:hover {
    background-color: #000; /* Add a hover color */
}

/*.active {*/
    /*background-color: #4CAF50; !* Add an active/current color *!*/
/*}*/






/*Navigation Bar*/

/* Style the tab */
.Navigation {
    overflow: hidden;
    background-color: inherit;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #ffffff;
}

/* Style the buttons that are used to open the tab content */
.tablinks {
    /*background-color: inherit;*/
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: #ffaa92;
}

.printSoup {
    background-color: inherit;
    alignment: right;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: #ea8071;
}

/* Create an active/current tablink class */
.Navigation button.active {
    color: #ea8071;
    font-weight: bold;
    /*background-color: #cc4f76;*/
}

/* Style the tab content */
.tabcontent {
    display: none;
    /*padding: 6px 12px;*/
    border-top: none;
}

footer {
    position: fixed;
    font-family: Helvetica,sans-serif;
    color: #ffaa92;
    overflow: hidden;
    /*background-color: 	#fdefee;*/
    /*position: fixed; !* Set the navbar to fixed position *!*/
    bottom: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    display: flex;
    justify-content: center;
    align-items: center;
    height:50px;

}

button{
    background-color: transparent;
    /*outline:none;*/
    border:none;
}

.Image{
    width: 2%;
    padding:10px;
    padding-right: 30px;
    padding-left: 30px;

}

/*.Bowl{*/
    /*text-align: center;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
/*}*/

#BowlImage{
    padding-top:3%;
    width:25%;
}


#BowlCanvas{
    /*padding-top: 3%;*/
    border: 25px solid 	#fdefee;
    border-radius: 50%;
    background-color: #ffd095;
}


/*#BowlCanvas {*/
    /*border: 1px solid black;*/
/*}*/

#newSpicySlider{
    -webkit-appearance: none;
    -moz-apperance: none;
    border-radius: 6px;
    height: 10px;
    background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(0, #FF3852),
            color-stop(0, #ddd)
    );
}

#newUmamiSlider{
    -webkit-appearance: none;
    -moz-apperance: none;
    border-radius: 6px;
    height: 10px;
    background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(0, #AC50D3),
            color-stop(0, #ddd)
    );
}


#newHerbsSlider{
    -webkit-appearance: none;
    -moz-apperance: none;
    border-radius: 6px;
    height: 10px;
    background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(0, #75E039),
            color-stop(0, #ddd)
    );
}

#newSourSlider{
    -webkit-appearance: none;
    -moz-apperance: none;
    border-radius: 6px;
    height: 10px;
    background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(0, #e4e62e),
            color-stop(0, #ddd)
    );
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background-color: #717171;
    border: 1px solid #717171;
    height: 15px;
    width: 15px;
    border-radius:10px;
}

input[type='range']{
    width: 100%;
}



input[type=range]::-moz-range-progress {
    -webkit-appearance: none;
    background-color: green;
    height: 1em;
}


.NoodleOutline {

    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    /*width: 10%; !* Equal width (5 icons with 20% width each = 100%) *!*/
    padding: 1%; /* Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    font-size: 12px; /* Increased font size */
    /*margin: 0;*/
    /*border: 1px solid black;*/
    border-radius: 10%;
    overflow: hidden;
    text-overflow: clip;
    color: #ea8071;
    background-color: #fff1ee;
    margin: 1%;
}

.NoodleOutline:hover {
    background-color: 	#ffe3de;
    padding: 2%;
    margin: 0;

;
}

#generate {
    color: white;
    background-color: #ffd095;
    padding: 2%;
    margin: 0;
}

#generate:hover {

}


.flavor {
    display: inline-block;
    width: 20%;
}


.value {
    text-align: center;
}